/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #c177be;
  --ifm-color-primary-dark: #ad59a9;
  --ifm-color-primary-darker: #83307f;
  --ifm-color-primary-darkest: #5a1856;
  --ifm-color-primary-light: #d69ad4;
  --ifm-color-primary-lighter: #eac5e9;
  --ifm-color-primary-lightest: #fff5ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5a1856;
  --ifm-color-primary-dark: #451442;
  --ifm-color-primary-darker: #310c2f;
  --ifm-color-primary-darkest: #1c061b;
  --ifm-color-primary-light: #5a1c56;
  --ifm-color-primary-lighter: #ad58a9;
  --ifm-color-primary-lightest: #d6a4d4;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
